<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Microsoft.WindowsAzure.MobileServices.Test.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="Microsoft.WindowsAzure.Mobile.Net45.Test.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <userSettings>
    
    <Microsoft.WindowsAzure.MobileServices.Test.Settings>
      <setting name="MobileServiceRuntimeUrl" serializeAs="String">
        <value></value>
      </setting>
      <setting name="MobileServiceTags" serializeAs="String">
        <value/>
      </setting>
    </Microsoft.WindowsAzure.MobileServices.Test.Settings>
    <Microsoft.WindowsAzure.Mobile.Net45.Test.Settings>
      <setting name="MobileServiceRuntimeUrl" serializeAs="String">
        <value/>
      </setting>
      <setting name="MobileServiceTags" serializeAs="String">
        <value/>
      </setting>
    </Microsoft.WindowsAzure.Mobile.Net45.Test.Settings>
  </userSettings>
</configuration>
